:root {
  --modal-window-width: 1190px;
  --modal-window-height: 700px;
  --modal-blur: 30px;

  --main-bg-color: #0A0E15;
  --accent-color: #8EB2EB;
  --modal-back-mask: linear-gradient(55deg, rgba(10, 14, 21, 0.9948573179271709) 36%, rgba(142, 178, 235, 1) 92%);
  --image-back-mask: rgba(250, 250, 250, 0.1);
  --text-color: #FFFFF1;
}